.container {
    width: 100vw;
    height: 100vh;
    background: #6C7A89;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
    
.box {
    width: 350px;
    height: 400px;
    background: #fff;
    border-top: 5px solid rgb(78, 90, 104);
    border-radius: 5px;
}
body {
margin: 0px;
}
h1{
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 26px;
}
form{
    text-align: center;
    font-size: 20px;
    text-align: right;
    padding-right: 10px;
}
input{
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
}
#Send{
    border: 0px;
    width: 80%;
}
.buttom{
    text-align: center;
    padding-left: 10px;
    padding-top: 20px;
}
#Send:hover{
    cursor: pointer;
    background-color: #6C7A89;
}
p{
    text-align: center;
    font-size: 15px;
}