#box{
    width: 100px;
    height: 100px;
    background-color: #201d1a;
}
.container {
    width: 100vw;
    height: 100vh;
    background: #654321;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}
body{
    margin: 0px;
}