#head{
    width: 1170px;
    margin: 0 auto;
}
img{
    width: 100%;
}
.logo{
    width: 20%;
    float: left;
}
.menu-item{
    width: 75%;
}
.menu-item ul{
    float: right;
    list-style: none;
}
.menu{
    overflow: hidden;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a   
{
    display: inline-block;
    padding: 10px 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}